$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Merriweather+Sans", sans-serif;
$secondary-font: "Poppins", serif;

$gray: #464751;
$gray-light: #464751;
$gray-lighter: #7a7a7d;
$pink: #db2a6b;
$background-color: #2b2d38;