@use '../abstracts/variables' as v;

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    // box-sizing: border-box;

}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 500px;
}


.gallery {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    align-items: end;
    column-gap: 30px;

    &:has(.card:hover) .card:not(:hover) {
        filter: blur(0.6px);
        transform: scale(0.9);
        transition: all 0.5s;
    }

    .card:hover {
        filter: none;
        transform: scale(1.30);
        transition: all 0.5s;
        z-index: 10;
    }

    div {
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: end;


        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .purple {
        grid-area: 1/1/ span 2/ span 1;
        background-color: #6e1fed;
        border-radius: 35% /17%;
        width: 90%;
        height: auto;

        img {

            filter: drop-shadow(1px 1px 20px rgb(252, 252, 252));
        }

        :hover {
            transform: scale(1.05);
            filter: drop-shadow(1px 1px 20px rgb(120, 40, 140)) grayscale(30%);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            transition: all 0.3s ease-in-out;
        }


    }

    .pink {
        grid-area: 3/1/span 1/ span 1;
        background-color: #db2a6b;
        border-radius: 37%;
        width: 90%;
        height: auto;

        img {

            filter: drop-shadow(1px 1px 20px rgb(252, 252, 252));
        }

        :hover {
            transform: scale(1.05);
            filter: drop-shadow(1px 1px 20px rgb(117, 2, 88)) grayscale(30%);
            transition: all 0.3s ease-in-out;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

        }

    }

    .cyan {
        grid-area: 1/2/span 1/ span 1;
        background-color: #60d3d9;
        border-radius: 37%;
        width: 90%;
        height: auto;        


        img {

            filter: drop-shadow(1px 1px 20px rgb(252, 252, 252));
        }

        :hover {
            transform: scale(1.05);
            filter: drop-shadow(1px 1px 20px rgb(1, 2, 73)) grayscale(30%);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            transition: all 0.3s ease-in-out;
        }

    }

    .orange {
        grid-area: 2/2 /span 2/ span 1;
        background-color: #ff7e29;
        border-radius: 35% /17%;
        width: 90%;
        height: auto;

        img {

            filter: drop-shadow(1px 1px 20px rgb(252, 252, 252));
        }

        :hover {
            transform: scale(1.05);
            filter: drop-shadow(1px 1px 20px rgb(184, 73, 0)) grayscale(30%);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            transition: all 0.3s ease-in-out;
        }

    }

    .yellow {
        grid-column: 3 / span 1;
        grid-row: 1 / span 3;
        background-color: #f4b840;
        border-radius: 35%/17%;
        align-self: center;
        width: 90%;
        height: auto;

        img {

            filter: drop-shadow(1px 1px 20px rgb(252, 252, 252));
        }

        :hover {
            transform: scale(1.05);
            filter: drop-shadow(1px 1px 20px rgb(73, 1, 1)) grayscale(30%);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            transition: all 0.3s ease-in-out;
        }
    }

}