@use '../abstracts/variables' as v;

.hero {

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;



    &__info {
        h1 {
            font-size: 50px;
            color: white;
            font-family: v.$primary-font;
            font-weight: 700;
            font-style: bold;
        }

        p {
            color: v.$gray-lighter;
            font-family: v.$secondary-font;
            font-size: 18px;
            line-height: 1.5;
            margin-top: 20px;
            max-width: 70%;
        }

    }

    &__items {
        display: flex;
        width: 80%;
        justify-content: space-between;


    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        color: white;

        p {
            font-family: v.$secondary-font;
            font-weight: 300;
        }

        img {
            margin-bottom: 10px;

        }
    }

    &__btn {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 70%;
        align-items: center;
        gap: 4px;
        margin-bottom: 10px;

        a {
            color: white;
            font-family: v.$secondary-font;
            font-weight: 400;

            &:nth-child(1) {
                text-decoration: none;
                background-color: #db2a6b;
                padding: 12px 50px;
                border-radius: 8px 8px 8px 0px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: white;
                    color:#db2a6b;
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
            }
            &:nth-child(3) img{
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                    rotate: 360deg ;
                    transition: all 0.4s ease-in;
                    color:#db2a6b;
                }
            }
        }
    }
}