@use '../abstracts/variables' as v;

html * {
    font-family: v.$primary-font;
}
 
body {
    overflow-x: hidden;
    background-color: v.$background-color;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
} 